<ion-view title="">
    <div class="bar bar-subheader  bar-light">
      <h1 class="title">Contacts</h1>
    </div>
    <ion-content class="has-header has-subheader"  padding="true">
        <div>
            <div class="row header list card">
              <div class="col col-offset-10"><b>Dish</b></div>
              <div class="col"><b>Update</b></div>
            </div>
            <div class="row list card" ng-repeat="cont in contacts">
              <div class="col col-offset-10">
                <div class="row">
                  {{ cont.contact.name }}
                </div>
                <div class="row">
                  {{ cont.contact.address}}
                </div>
              </div>
              <div class="col"><button ui-sref="edit_contact({contactId: {{cont.volunteer_id}} })" class="button icon ion-edit" ></button></div>
            </div>
        </div>

    </ion-content>
</ion-view>