<ion-view title="" class=" cbg">
    <ion-content>
        <h3>Sign In</h3>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <input type="tel"  placeholder="Mobile Number" class="cfd"  ng-model="data.mobile" >
            </label>
            <button class="button button-block button-positive" ng-click="register()">
              Submit
            </button>
        </div>
    </ion-content>
</ion-view>