<ion-view title="">
    <div class="bar bar-subheader  bar-light">
      <h1 class="title">Contact Details</h1>
    </div>
    <ion-content class="has-header has-subheader"  padding="true">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Mobile</span>
          <input type="text" ng-disabled="true" placeholder="Mobile Number" ng-model="contactFollowupData.contact.username">
          <a href="tel:{{contactFollowupData.contact.username}}" class="button button-positive"><i class="icon ion-ios-telephone" ></i></a>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Name</span>
          <input type="text" ng-model="contactFollowupData.contact.name" placeholder="Name">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Address</span>
          <input type="text" placeholder="Contact address" ng-model="contactFollowupData.contact.address">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Lanugage</span>
          <input type="text" placeholder="Enter language here" ng-model="contactFollowupData.language">
        </label>

        <div class="input-label">
          Select Participation:
        </div>
        <select ng-model="contactFollowupData.participation" convert-to-number>
          <option value="1">Enthusiastic</option>
          <option value="2">Ok</option>
          <option value="3">Doubtful</option>
          <option value="4">No</option>
        </select>

        <label class="item item-input item-stacked-label">
          App installed?
        </label>

        <ion-radio name="app_installed" ng-model="contactFollowupData.app_installed" ng-value="boolTrue">Yes</ion-radio>
        <ion-radio name="app_installed" ng-model="contactFollowupData.app_installed" ng-value="boolFalse">No</ion-radio>

        <label class="item item-input item-stacked-label">
          Dos Explained?
        </label>

        <ion-radio name="dos_explained" ng-model="contactFollowupData.dos_explained" ng-value="boolTrue">Yes</ion-radio>
        <ion-radio name="dos_explained" ng-model="contactFollowupData.dos_explained" ng-value="boolFalse">No</ion-radio>

        <ion-toggle ng-model="contactFollowupData.dnd" toggle-class="toggle-assertive">Do Not Disturb</ion-toggle>
        <ion-toggle ng-model="contactFollowupData.dnw" toggle-class="toggle-assertive">Do Not Whatsapp</ion-toggle>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Notes</span>
          <textarea class="textarea" placeholder="Notes" ng-model="contactFollowupData.notes" taxindex="2"></textarea>
        </label>

        <label class="item item-input item-stacked-label">
          Call Done?
        </label>

        <ion-radio name="call_done" ng-model="contactFollowupData.call_done" ng-value="boolTrue">Yes</ion-radio>
        <ion-radio name="call_done" ng-model="contactFollowupData.call_done" ng-value="boolFalse">No</ion-radio>

        <input type="submit" class="button button-block button-positive" ng-click="saveContactFollowup()" value="Save" />

      </div>

    </ion-content>
</ion-view>
