<!DOCTYPE html>
<html  lang="en" ng-app="App">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic/js/angular/angular-resource.js"></script>
    <script src="lib/pouchdb/dist/pouchdb.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    
    <!--My App-->
    <script src="js/app.js"></script>
    <script src="js/pages.js"></script>
    
    <!--App Services-->
    <script src="js/app-services/AuthService.js"></script>
    <script src="js/app-services/RestCallService.js"></script>
 
    <!--My Pages-->
    <script src="pages/signin/signin.js"></script>
    <script src="pages/contactlist/contactlist.js"></script>
    <script src="pages/contactdetails/contactdetails.js"></script>

    </head>
    <body data-ng-controller="AppCtrl">
        <ion-pane>
        <ion-header-bar class="bar bar-header bar-stable">
            <h1 class="title">Cook4Krishna Follow Up</h1>
            <button class="button button-calm" data-ng-click="callPage('dashboard')">
                Sync
            </button>
        </ion-header-bar>      
        <div class="row">
            <div class="col">
                <div ui-view>

                </div>
            </div>
        </div>

        </ion-pane>
    </body>
</html>
